--
-- PostgreSQL database dump
--

\restrict 2xWvVOzGod6j6s5jMwUF7gXlk2s6aedBsTbFAN56gZCniRVQd2Yap973hW6Xb3b

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: allocation_status; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.allocation_status (id, message, created_at) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departments (dept_id, dept_name, hod_name) FROM stdin;
2	ECE	Dr. Patel
1	CSE	Dr. Smith
3	EEE	Riya
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses (course_id, course_name, credits, dept_id) FROM stdin;
1	Data Structures	4	1
2	Database Systems	4	1
3	Signals	3	2
4	Operating System	4	3
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classes (class_id, course_id, semester, day_of_week, start_time, end_time, room) FROM stdin;
1	1	Even	Mon	09:00:00	10:00:00	A101
2	2	Even	Mon	09:30:00	10:30:00	A102
3	3	Even	Tue	11:00:00	12:00:00	B201
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, username, password, role, name, created_at) FROM stdin;
1	r@gmail.com	$2b$10$1JnpkTjTRQgobOBhRVOMxeteHZWnGV2fzr.77gkkAEu.LDY6cMZym	student	Riya	2025-09-23 17:58:22.903249+05:30
2	riya	$2b$10$9XhqFS3.L0qwVEYmt9KzvOxpQKZ08UjqySE4GKenFxXycKnWIaK32	student	\N	2025-09-23 18:16:41.671558+05:30
3	rahul	$2b$10$FS67ZdbWsWWwvl.xOXi2l.XkfrYOyiv0NQ9jtMpDOdLuegB5TifX.	teacher	\N	2025-09-23 18:17:49.500613+05:30
4	shreya	$2b$10$E6afQ5ljsVidvBBBKUN6cevaU5zYcWpTuYrPYxQrS.2ensdn6/ewO	admin	\N	2025-09-23 18:18:50.685973+05:30
\.


--
-- Data for Name: faculty; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.faculty (faculty_id, name, dept_id, max_load, user_id) FROM stdin;
2	Bob Kumar	1	2	\N
3	Carol Lee	2	3	\N
1	Alice Johnson	1	3	\N
6	Aswathi M	2	3	\N
7	Ram	1	2	\N
8	Rahul	1	2	\N
\.


--
-- Data for Name: allocations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.allocations (allocation_id, faculty_id, class_id, status, revoked_by, revoked_at, revoke_reason) FROM stdin;
1	1	1	active	\N	\N	\N
2	1	2	active	\N	\N	\N
3	2	3	active	\N	\N	\N
\.


--
-- Name: allocation_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocation_status_id_seq', 1, false);


--
-- Name: allocations_allocation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.allocations_allocation_id_seq', 3, true);


--
-- Name: classes_class_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.classes_class_id_seq', 3, true);


--
-- Name: courses_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.courses_course_id_seq', 22, true);


--
-- Name: departments_dept_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_dept_id_seq', 5, true);


--
-- Name: faculty_faculty_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.faculty_faculty_id_seq', 8, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 2xWvVOzGod6j6s5jMwUF7gXlk2s6aedBsTbFAN56gZCniRVQd2Yap973hW6Xb3b

